<h2>Unanet Time Summary</h2>
<table>
  <thead>
    <tr>
      <th colspan="1" class="summary-header prior-period">Prior Period</th>
      <th colspan="{{ hoursByProjectType.length }}" class="summary-header project-types">Project Types</th>
      <th colspan="3" class="summary-header totals">Totals</th>
      <th colspan="3" class="summary-header tracking">Pay Period Tracking</th>
      <th colspan="2" class="summary-header other-calcs">Other Calculations</th>
    </tr>
    <tr>
      <th class="summary-subheader prior-period"
        title="A positive or negative number for the '+' hours from your last pay period (so we can help balance it with this one.)">
        + / -</th>
      {{#each hoursByProjectType}}
      <th class="summary-subheader project-types">{{ projectType }}</th>
      {{/each}}
      <th class="summary-subheader totals" title="The number of hours with a '+' designation that you've worked">
        +<br />Hours
      </th>
      <th class="summary-subheader totals" title="The number of hours without a '+' designation that you've worked">Non
        +<br />Hours</th>
      <th class="summary-subheader totals" title="The total hours you've worked, '+' and non">Grand<br />Total</th>
      <th class="summary-subheader tracking" title="The number of expected '+' hours for a given period">+ Hours<br />in
        Period
      </th>
      <th class="summary-subheader tracking" title="The number of hours with a '+' designation that you've worked">
        Your<br />+
        Hours</th>
      <th class="summary-subheader tracking"
        title="How you are tracking so far for the pay period. Assumes 8 hours per workday that you haven't logged yet.">
        Tracking</th>
      <th class="summary-subheader other-calcs"
        title="On average, how many total hours ('+' and non) you've worked across all days you've worked.">
        Hours per<br />Workday</th>
      <th class="summary-subheader other-calcs"
        title="Like the tracking number, but includes non '+' hours as well, so it's more of an FYI than an official tracking.">
        Over /<br />Under</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" id="priorPeriodOverUnder" class="priorPeriodOverUnder" placeholder="???"></td>
      {{#each hoursByProjectType}}
      <td>{{ total }}</td>
      {{/each}}
      <td title="The number of hours with a '+' designation that you've worked">{{ totalPlusHours }}</td>
      <td title="The number of hours without a '+' designation that you've worked">{{ totalNonPlusHours }}</td>
      <td title="The total hours you've worked, '+' and non">{{ grandTotalHours }}</td>
      <td title="The number of expected '+' hours for a given period">{{ plusHoursInPayPeriod }}</td>
      <td title="The number of hours with a '+' designation that you've worked">{{ totalPlusHours }}</td>
      {{#if negativeTracking }}
      <td class="negative-tracking"
        title="How you are tracking so far for the pay period. Assumes 8 hours per workday that you haven't logged yet. NOTE: You are currently trending below the required amount of plus hours for this pay period.">
        {{ plusHoursTracking }}</td>
      {{else}}
      <td
        title="How you are tracking so far for the pay period. Assumes 8 hours per workday that you haven't logged yet.">
        {{ plusHoursTracking }}</td>
      {{/if}}
      <td title="On average, how many total hours ('+' and non) you've worked across all days you've worked.">
        {{ hoursPerWorkday }}</td>
      <td
        title="Like the tracking number, but includes non '+' hours as well, so it's more of an FYI than an official tracking.">
        {{ overUnder }}</td>
    </tr>
  </tbody>
</table>