<h2>Unanet Time Summary</h2>
<table>
  <thead>
    <tr>
      <th colspan="{{ hoursByProjectType.length }}">Project Types</th>
      <th colspan="3">Totals</th>
      <th colspan="3">Pay Period Tracking</th>
    </tr>
    <tr>
      {{#each hoursByProjectType}}
      <th>{{ projectType }}</th>
      {{/each}}
      <th>+ Hours</th>
      <th>Non + Hours</th>
      <th>Grand Total</th>
      <th>Tracking</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each hoursByProjectType}}
      <td>{{ total }}</td>
      {{/each}}
      <td>{{ totalPlusHours }}</td>
      <td>{{ totalNonPlusHours }}</td>
      <td>{{ totalPlusHours + totalNonPlusHours }}</td>
      <td>{{ plusHoursTracking }}</td>
    </tr>
  </tbody>
</table>