<h2>Unanet Time Summary</h2>
<table>
  <thead>
    <tr>
      <th colspan="{{ hoursByProjectType.length }}" class="summary-header project-types">Project Types</th>
      <th colspan="3" class="summary-header totals">Totals</th>
      <th colspan="3" class="summary-header tracking">Pay Period Tracking</th>
    </tr>
    <tr>
      {{#each hoursByProjectType}}
      <th class="summary-subheader project-types">{{ projectType }}</th>
      {{/each}}
      <th class="summary-subheader totals" title="The number of hours with a '+' designation that you've worked">+ Hours
      </th>
      <th class="summary-subheader totals" title="The number of hours without a '+' designation that you've worked">Non
        +
        Hours</th>
      <th class="summary-subheader totals" title="The total hours you've worked, '+' and non">Grand Total</th>
      <th class="summary-subheader tracking" title="The number of expected '+' hours for a given period">+ Hours in
        Period
      </th>
      <th class="summary-subheader tracking" title="The number of hours with a '+' designation that you've worked">Your
        +
        Hours</th>
      <th class="summary-subheader tracking"
        title="How you are tracking so far for the pay period. Assumes 8 hours per workday that you haven't logged yet.">
        Tracking</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each hoursByProjectType}}
      <td>{{ total }}</td>
      {{/each}}
      <td title="The number of hours with a '+' designation that you've worked">{{ totalPlusHours }}</td>
      <td title="The number of hours without a '+' designation that you've worked">{{ totalNonPlusHours }}</td>
      <td title="The total hours you've worked, '+' and non">{{ grandTotalHours }}</td>
      <td title="The number of expected '+' hours for a given period">{{ plusHoursInPayPeriod }}</td>
      <td title="The number of hours with a '+' designation that you've worked">{{ totalPlusHours }}</td>
      {{#if negativeTracking }}
      <td class="negative-tracking"
        title="How you are tracking so far for the pay period. Assumes 8 hours per workday that you haven't logged yet. NOTE: You are currently trending below the required amount of plus hours for this pay period.">
        {{ plusHoursTracking }}</td>
      {{else}}
      <td
        title="How you are tracking so far for the pay period. Assumes 8 hours per workday that you haven't logged yet.">
        {{ plusHoursTracking }}</td>
      {{/if}}
    </tr>
  </tbody>
</table>